*{
    margin: 0px;
    padding: 0px;
}



input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="confirmPassword"]:focus{
    border: 2px solid blue;
}

form{
    width:80%;
    margin: auto;
}
input[type="text"],input[type="password"],input[type="email"],input[type="confirmPassword"],input[type="date"]{
    width: 100%;
    border: 2px solid black;
    height: 80px;
    transition: 0.5s;
}
#dob_select{
    width: 90%;
    
}
#dob_select select{
    width: 30%;
    height: 35px;
}
input[type="radio"]:checked+label{
    color: red;

}
#address{
    width:100%;
    outline: none;
    border-radius: 5px;
    height: 80px;
}
input[type="checkbox"]:enabled+label{
    color: black;
    font-style: italic;
}
input[type="checkbox"]:checked+label{
    color: blue;
    font-style: normal;

}
input[type="checkbox"]:disabled+label{
    color: darkred;
    font-style: normal;
}
p:empty{
    width: 100%;
    height: 10px;
    background-color: red;
}
.s1{
    text-align: center;
}
.mar1{
    margin: 15px 20px 30px 10px;
    padding: 15px 20px 30px 10px;
    border: 1px solid black;
    
}
.project{
    display: inline-block;
    border: 1px solid black;
    color: black;
    width: 10%;
    
}


.Logo{
    width: 110px;
    height: 70px;
    display:block;
    margin-left: 30px;
}
.nav_itcolor{
    background-color: black;
}
.nav_it{
    display:inline-block;
}
.nav_itcolor ul{
 float:right;
}
.nav_itcolor ul li{
    display:inline-block;
    color: white;
    text-transform: uppercase;
    margin-right: 40px;
    padding-top:30px;
    
}
.itname{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}
.nav_itcolor ul li:hover{
    color: yellow;
    transform: translate(4px,-5px);
    transition-duration: 0.5s;
}

  